/* KEYFRAMES */
@keyframes infinite-scroll {
  from { translate: 0;}
  to { translate: -100%;}
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes iconFloat {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes floatParallax {
  0%, 100% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(-100px) translateX(100px); }
}

/* SCROLL ANIMATIONS */
.fade-up { opacity: 0; animation: fadeUp 1s forwards; }

  