/* HERO SECTION */
.hero-section {
  height: calc(100vh - var(--navbar-height));
  position: relative;
  margin-top: var(--navbar-height);
  overflow: hidden;
}
.hero-img {
  object-fit: cover;
  filter: brightness(0.5);
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100dvh - var(--navbar-height));
  z-index: 100;
  background: linear-gradient(90deg, #6252AC88 0%, rgba(30,58,138,0.6) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px; /* para umangat */
}

.hero-label {
  font-weight: bold;
  color: #08D65E;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.hero-headline {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 6px 20px rgba(0,0,0,0.35);
  text-align: center;
  margin-bottom: 1rem;
}
.hero-subtext {
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3rem;
}

.hero-buttons {
  display: flex;
  gap: 3px;
  align-items: center;
  background: #3B82F6;
  border: none;
  border-radius: 30px;
  padding: 0.8rem 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}
.hero-buttons:hover {
  background: white;
  color: #3B82F6;
}

