/* NAVBAR */
.site-header {
  background: #5f54cf;
  z-index: 100;
  min-height: var(--navbar-height);
}
.nav-custom .nav-link {
  position: relative;
}
.nav-custom .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
}
.nav-custom .nav-link.active {
  font-weight: bold;
}
.nav-custom .nav-link.active::after {
  width: 100%;
}
.nav-custom .nav-link:hover::after {
  width: 100%;
}