<!-- BENEFITS SECTION -->
<section id="benefits" class="scroll-point d-flex align-items-center bg-light">
  <div class="container">
    <h2 class="text-center text-accent mb-5">Benefits</h2>
    <div class="row g-5 align-items-center">
      <div class="col-md-6 order-md-2">
        <%= image_tag 'adnu3.jpg' , class: "img-fluid rounded-4 shadow-sm" , alt: "benefits" %>
      </div>
      <div class="col-md-6 order-md-1">
        <ul class="list-unstyled fs-5 text-muted">
          <li class="mb-3">✅ Reduce paperwork by 70%</li>
          <li class="mb-3">✅ Real-time tracking of student performance</li>
          <li class="mb-3">✅ Empower collaboration between staff and parents</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- BENEFITS SECTION END -->