<!-- FOOTER -->
<footer id="footer" class="bg-dark text-white py-4">
  <div class="container text-center small">
    © <%= Time.current.year %> School Manager — All Rights Reserved
      <br />
      <span>Built by Gonzales, Santiago, Tipay</span>
  </div>
</footer>
<!-- FOOTER END -->