<!-- FOOTER -->
<footer id="footer" class="bg-dark text-white py-4">
  <div class="container text-center small d-flex flex-column">
      <span>© <%= Time.current.year %> School Manager — All Rights Reserved</span>
      <span>Built by Gonzales, Santiago, Tipay</span>
      <a href="about">Check us out!</a>
  </div>
</footer>
<!-- FOOTER END -->