<!-- NAVBAR -->
<header class="site-header fixed-top mt-0 shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark mt-1" id="topNav">
    <div class="container-fluid px-5">
      <a class="navbar-brand d-flex align-items-center gap-2" href="/">
        <svg width="40px" height="40px" viewBox="-1.5 -1.5 18.00 18.00" fill="none" xmlns="http://www.w3.org/2000/svg"
          stroke="#FFFFFF" stroke-width="1">
          <path
            d="M7.5 4.5L11.5 6.5V14.5H3.5V6.5L7.5 4.5ZM7.5 4.5V0M0 14.5H15M1.5 14.5V8.5H3.5M13.5 14.5V8.5H11.5M6.5 14.5V11.5H8.5V14.5M7.5 0.5H10.5V2.5H7.5M7.5 9.5C6.94772 9.5 6.5 9.05228 6.5 8.5C6.5 7.94772 6.94772 7.5 7.5 7.5C8.05228 7.5 8.5 7.94772 8.5 8.5C8.5 9.05228 8.05228 9.5 7.5 9.5Z"
            stroke="#FFFFFF"></path>
        </svg>
        <strong class="fs-3 m-0">School Manager</strong>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center gap-2 nav-custom">
          <li class="nav-item"><a class="nav-link px-3" href="#hero">Home</a></li>
          <li class="nav-item"><a class="nav-link px-3" href="#highlights">Highlights</a></li>
          <li class="nav-item"><a class="nav-link px-3" href="#features">Features</a></li>
          <li class="nav-item"><a class="nav-link px-3" href="#benefits">Benefits</a></li>
          <li class="nav-item"><a class="nav-link px-3" href="#social-proof">Trusted By</a></li>
          <li class="nav-item"><a class="btn btn-outline-light rounded-pill px-3 py-1" href="#call-to-action">Get
              Started</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- NAVBAR END -->