<div id="about-background" class="about-bg">

  <!-- Floating Circles -->
  <div class="parallax-shape shape-a"></div>
  <div class="parallax-shape shape-b"></div>
  <div class="parallax-shape shape-c"></div>
  <div class="parallax-shape shape-d"></div>
  <div class="parallax-shape shape-e"></div>
  <div class="parallax-shape shape-f"></div>
  <div class="parallax-shape shape-g"></div>

  <!-- NAVBAR -->
    <%= render 'navbar' %>
  <!-- NAVBAR END -->
  
  <!-- TEAM -->
    <%= render 'team' %>
  <!-- TEAM END -->
  
  <!-- TECH STACK -->
    <%= render 'tech_stack' %>
  <!-- TECH STACK END -->
  
  <!-- CORE VALUES -->
    <%= render 'core_values' %>
  <!-- CORE VALUES END -->

</div>
