/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    background-color: #6252AC;
}

/* For thin scrollbars used in responsive tables */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.nav-link:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* For Departments show accordion tables */
[data-bs-toggle="collapse"] svg {
  transition: transform 0.3s ease;
}
/* Rotate the arrow when the section is expanded */
[data-bs-toggle="collapse"][aria-expanded="true"] svg {
  transform: rotate(180deg);
}
